<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
     
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          
          <li class="nav-item">
            <a class="nav-link" (click)="goBackToHome()"><h1>Course</h1></a>
          </li>
         <li>
          <!-- getitem from login and display -->
          <h1>Welcome you {{getUsername()}}</h1>
         </li>
         
        </ul>
      </div>
    </div>
  </nav>
