
<h2 class="text-center">Free Plans</h2>
<!-- <div class="row">
  <div class="col-6">
    <figure>
      <img [src]="source" alt="MOb" />
      <figcaption>Web Technology</figcaption>
    </figure>
  </div>

  <div class="col-6">
    <figure>
      <img src="\assets\IT.png" alt="MOb" />
      <figcaption>Mobile Application</figcaption>
    </figure>
  </div>
  <br />
</div> -->
<section class="container py-5">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <img [src]="source"
         
          class="card-img-top"
          alt="Course 1"
          height="300px"
        />
        <div class="card-body">
          <h5 class="card-title">Angular</h5>
          <p class="card-text">You will be learning from the Beginning</p>
          <a href="/login" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="\assets\ui.jpg"
          class="card-img-top"
          alt="Course 2"
          height="300px"
        />
        <div class="card-body">
          <h5 class="card-title">UI/UX</h5>
          <p class="card-text">
            Intermediate Level. Can will be able to Design your web pages
          </p>
          <a href="/login#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="\assets\ruby.jpg"
          class="card-img-top"
          alt="Course 3"
          height="300px"
        />
        <div class="card-body">
          <h5 class="card-title">Mobile Application</h5>
          <p class="card-text">Advance Level with many to-do assingments</p>
          <a href="/login" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-md-4 mb-4">
    <div class="card">
      <img
        src="\assets\ruby.jpg"
        class="card-img-top"
        alt="Course 3"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Mobile Application</h5>
        <p class="card-text">Advance Level with many to-do assingments</p>
        <a href="/login" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card">
      <img
        src="\assets\ruby.jpg"
        class="card-img-top"
        alt="Course 3"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Mobile Application</h5>
        <p class="card-text">Advance Level with many to-do assingments</p>
        <a href="/login" class="btn btn-primary">Learn More</a> 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
        </svg>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card">
      <img
        src="\assets\ruby.jpg"
        class="card-img-top"
        alt="Course 3"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Mobile Application</h5>
        <p class="card-text">Advance Level with many to-do assingments</p>
        <a href="/login" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- <app-footer></app-footer> -->